<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header">
</head>

<body>
	<div th:replace="fragments/header :: navigation"></div>


	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
			
				<div th:replace="fragments/loginForm :: login"></div>
				<div th:replace="fragments/registrationForm :: registration"></div>
				
				<input id="formType" type="checkbox" data-toggle="toggle"
					data-on="Registration" data-off="Login form" data-onstyle="success"
					data-offstyle="primary">
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		$(function() {
			hasError = /*[[${#fields.hasErrors('account.*')}]]*/

			if(hasError){
				$("#loginForm").hide();
				$("#registerForm").show();
			
				$('#formType').prop('checked', true);
			}
			
			$("#formType").change(function() {
				let check = $("#formType").is(':checked');
				if (check) {
					$("#loginForm").hide();
					$("#registerForm").show();
					let userName = $("#username").val();
					let password = $("#password").val();
					
					$("#name").val(userName);
					$("#passwordNew").val(password);
					
				} else {
					$("#loginForm").show();
					$("#registerForm").hide();
				}
			});
		});
	</script>


</body>
</html>