<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">

</head>

<body>

	<div th:replace="fragments/header :: navigation"></div>

	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">


				<div style="display: none" id="saveForm">
					<form class="well form-horizontal" method="POST"
						modelAttribute="entry" th:object="${entry}"
						th:action="@{/phonebook}">
						<fieldset>
							<div class="form-group ">
								<input class="form-control" name="id" type="hidden"
									th:value="${entry?.id}" id="id"> <label
									class="control-label col-md-3">First Name</label>
								<div class="col-md-6 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="glyphicon glyphicon-user"></i></span> <input id="firstName"
											name="firstName" class="form-control" type="text"
											th:value="${entry?.firstName}">

									</div>
									<span style="display: inline-block;" class="alert alert-danger"
										th:value="${entry.firstName}"
										th:if="${#fields.hasErrors('*')}" th:errors="*{firstName}">Error</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Last Name</label>
								<div class="col-md-6 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="glyphicon glyphicon-user"></i></span> <input id="lastName"
											name="lastName" placeholder="" class="form-control"
											type="text" th:value="${entry?.lastName}">
									</div>
									<span style="display: inline-block;" class="alert alert-danger"
										th:if="${#fields.hasErrors('lastName')}"
										th:errors="*{lastName}">Error</span>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-3">Patronymic Name</label>
								<div class="col-md-6 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="glyphicon glyphicon-user"></i></span> <input
											id="patronymicName" name="patronymicName"
											class="form-control" type="text"
											th:value="${entry?.patronymicName}">
									</div>
									<span style="display: inline-block;" class="alert alert-danger"
										th:if="${#fields.hasErrors('patronymicName')}"
										th:errors="*{patronymicName}">Error</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Mobile Number</label>
								<div class="col-md-6 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="glyphicon glyphicon-earphone"></i></span> <input
											id="mobileNumber" name="mobileNumber" class="form-control"
											type="text" th:value="${entry?.mobileNumber}">
									</div>
									<span style="display: inline-block;" class="alert alert-danger"
										th:if="${#fields.hasErrors('mobileNumber')}"
										th:errors="*{mobileNumber}">Error</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Home Number
									(Optional)</label>
								<div class="col-md-6 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="glyphicon glyphicon-earphone"></i></span> <input
											id="homeNumber" name="homeNumber" class="form-control"
											type="text" th:value="${entry?.homeNumber}">
									</div>
									<span style="display: inline-block;" class="alert alert-danger"
										th:if="${#fields.hasErrors('homeNumber')}"
										th:errors="*{homeNumber}">Error</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Address (Optional)</label>
								<div class="col-md-6 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="glyphicon glyphicon-search"></i></span> <input name="address"
											id="address" class="form-control" type="text"
											th:value="${entry?.address}">
									</div>
									<span style="display: inline-block;" class="alert alert-danger"
										th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Error</span>
								</div>

							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Email Address
									(Optional)</label>
								<div class="col-md-6 inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i
											class="glyphicon glyphicon-envelope"></i></span> <input name="email"
											id="email" class="form-control" type="text"
											th:value="${entry?.email}">
									</div>
									<span style="display: inline-block;" class="alert alert-danger"
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
								</div>

							</div>

							<div>
								<button id="cancel"
									class="align-items-center btn btn-sm btn-danger ">cancel</button>

								<button type="submit"
									class="align-items-center btn btn-sm btn-warning ">save</button>
							</div>
						</fieldset>
					</form>
				</div>

			</div>
			<button type="button" class="btn btn-success btn-xl" id="persbut">Add
				new</button>
			<h1 th:if="${entries != null}">Entries Table</h1>


			<form th:action="@{/phonebook/search}">
				<div style="color: black">
					<input placeholder="First Name" type="search" name="firstName">
					<input placeholder="Last Name" type="search" name="lastName">
					<input placeholder="Mobile Number" type="search"
						name="mobileNumber">
					<button>Search</button>
				</div>
			</form>

			<div id="table-wrap">
				<table id="entriesTable" class="table table-striped table-bordered ">
					<!-- Header Table -->
					<thead>
						<tr>
							<!-- <th class="text-center">Id</th>  -->
							<th class="text-center">First Name</th>
							<th class="text-center">Last Name</th>
							<th class="text-center">Patronymic</th>
							<th class="text-center">Mobile Phone</th>
							<th class="text-center">Home Phone</th>
							<th class="text-center">Address</th>
							<th class="text-center">Email</th>
							<th class="text-center">Actions</th>
						</tr>

						<tr th:each="entry : ${entries}">
							<!-- <td th:text="${entry.id}"></td> -->
							<td th:text="${entry.firstName}"></td>
							<td th:text="${entry.lastName}"></td>
							<td th:text="${entry.patronymicName}"></td>
							<td th:text="${entry.mobileNumber}"></td>
							<td th:text="${entry.homeNumber}"></td>
							<td th:text="${entry.address}"></td>
							<td th:text="${entry.email}"></td>

							<td><a class="editEntry" th:data="${entry.id}"
								th:inline="text"><span style="color: green"
									class="glyphicon glyphicon-edit"></span></a> <b>|</b> <a
								class="deleteEntry" th:data="${entry.id}" th:inline="text"><span
									style="color: red" class="glyphicon glyphicon-trash"></span></a></td>

						</tr>
					</thead>
				</table>

			</div>

		</div>
	</div>



	<script th:inline="javascript">
	$(function(){
		hasError = /*[[${#fields.hasErrors('entry.*')}]]*/;
		if(hasError){
			$("#saveForm").show();
			$("#persbut").hide();
		}
		
	$("#persbut").click(function(){
			$("#saveForm").show();
			$("#persbut").hide();
			});
		
	$(".deleteEntry").click(function(e){
			e.preventDefault();		
			let key = $(this).attr("data");		
			let dataArr = /*[[${entries}]]*/;
			
			let data = dataArr.find(e => e.id == key);
			
			$.ajax({
				contentType: "application/json",
				url:'/phonebook/delete',
				method:'DELETE',
				data:JSON.stringify(data),
				success:function(res){
					location.reload();
				},
				error:function(e){
					console.log(e);		
				}
			})

		});


	$(".editEntry").click(function(e){
		e.preventDefault();
	
		let key = $(this).attr("data");
		let dataArr = /*[[${entries}]]*/;

		let data = dataArr.find(e => e.id == key);
		$("#saveForm").show();
		$("#persbut").hide();
		$("#saveForm").find('input').val(function (index, value) {
			return data[this.id];   
		});	
		let inputForm = $("#saveForm").find('input');

	});

	$("#cancel").click(function(e){
		e.preventDefault();
		$("#saveForm").hide();
		$("#persbut").show();
	});

	});	

		
	</script>